.container {
  display: flex;
  align-items: center;
  gap: 20px;
//   padding: 10px;
  padding-left: 9px;
  .left {
    .icon {
      font-size: 40px;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    b {
      color: #271100;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    button {
      color: #f76d00;
      background: rgba(247, 109, 0, 0.2);
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 4px;
      padding:2px 7px;
      border: none;
    }
    span {
      .smallIcon {
        font-size: 18px;
        background: #fafafa;
        color: #009ddd;
        border-radius: 4px;
      }
    }
    p {
      color: #958070;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
